{% extends 'patient/base.html' %}
{% load static %}

{% block title%}Bed List{% endblock title %}
{% block content %}

<div class="container-fluid my-5 text-center">
    <h3 class="font-weight-bold my-4">All Bed Details </h3>
{% if bed_list %}
    <section class="d-flex m-auto">
            <table class="table table-bordered table-hover">
                <thead class="text-white text-center" style="background-color: gray;">
                    <tr>
                        <th scope="col">Bed Name</th>
                        <th scope="col">Extra info</th>
                    </tr>
                </thead>
                {% for bed in bed_list %}
                    <tbody class="text-center">
                        <tr>
                            <td>{{ bed.bed_name }}</td>
                            <td>{{ bed.extra_info }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
    </section>
{% endif %}
</div>



{% endblock %}


