{% extends 'patient/base.html' %}
{% load static %}

{% block title%}Create Discharge{% endblock title %}
{% block content %}


<div class="container my-5">
    <section class="text-center dark-grey-text mb-5">
        <div class="card">
            <div class="card-body rounded-top border-top p-5">
                <h3 class="font-weight-bold my-4">Creating Discharge for patient</h3>
                <form class="mb-4 mx-md-5" method="post" action="{% url 'patient:creating_discharge' %}">
                    {% csrf_token %}
                    <div class="row">
                        Select Patient :
                        <div class="col-md-12 mb-4">
                            <select name="patient_id" class="form-control">
                                {% for patient in patients %}
                                    <option value="{{ patient.id }}">{{ patient.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        Enter Bill Amount :
                        <div class="col-md-12 mb-4">
                            <input class="form-control" type="number" name="bill"/>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-md">Create Discharge</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>


{% endblock %}
