<html>
    <head>
        <title>Account List</title>
    </head>
    <body>
        <h1>
            Account List
        </h1>
    
        <div>
            <a href="{% url 'portal:create_account' %}"><button>Create New Account</button></a><br>
        </div>
    
        <div>
            {% for account in all_accounts %}
            
                <p>{{ account.id }}</p>
                <p>{{ account.full_name }}</p>
                <p>{{ account.address }}</p>
                <p>{{ account.pan_number }}</p>
                <p>{{ account.mobile_number }}</p>
                <p>{{ account.account_number }}</p>
                <p>{{ account.balance }}</p>
                <a href="{% url 'portal:update_account' id=account.id %}"><button>Update Account</button></a><br>
                <a href="{% url 'portal:update_deposit' id=account.id %}"><button>Update Deposit</button></a>
                <hr>
                
            {% endfor %}
        </div>
        



    </body>
</html>